ASPNETCORE_ENVIRONMENT=UAT
AllowedHosts=
SoapApi__FeatsBaseUrl=
ActiveDirectory__Domain=
Jwt__Issuer=WDC_STACKER.API.UAT
Jwt__Audience=WDC_STACKER.CLIENT.UAT
Jwt__SigningKey=
Jwt__ExpirationMinutes=480
ConnectionStrings__WdcStackerDb=
