ASPNETCORE_ENVIRONMENT=UAT
AllowedHosts=
SoapApi__FeatsEndpoints__CAM3__BaseUrl=
SoapApi__FeatsEndpoints__CAM3__Enabled=true
SoapApi__FeatsEndpoints__CAM7__BaseUrl=
SoapApi__FeatsEndpoints__CAM7__Enabled=true
ActiveDirectory__Domain=
Jwt__Issuer=WDC_STACKER.API.UAT
Jwt__Audience=WDC_STACKER.CLIENT.UAT
Jwt__SigningKey=
Jwt__ExpirationMinutes=480
ConnectionStrings__WdcStackerDb=
